// Create your own extra/index.js

// 1) Define you Gulp Tasks

const {tasks:extraTasksImported}  = require('./index.awesome.extra');
// OR
const extraTasksDefined = {
    exampleOfTask: async () => {
        console.log('Do my stuff...');
    },
    // ...
};

// 2) Export them

let exportedTasks = {};
const extraTasks = (tasksToAdd) => {
    Object.assign(exportedTasks, extraTasksImported);
    Object.assign(exportedTasks, extraTasksDefined);
    Object.assign(exportedTasks, tasksToAdd);
    return exportedTasks;
};
exports.extraTasks = extraTasks;
